- name: Ensure the APT cache is up to date
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Perform a safe system upgrade
  apt:
    upgrade: safe

- name: Ensure essential packages are installed
  apt:
    name: "{{ item }}"
  with_items:
    - "vim"
    - "bash-completion"
    - "tmux"
    - "wget"
    - "curl"
    - "htop"
    - "ncdu"
    - "unattended-upgrades"

- name: Configure unattended upgrades
  template:
    src: "{{ item }}.j2"
    dest: "/etc/apt/apt.conf.d/{{ item }}"
  with_items:
    - "20auto-upgrades"
    - "50unattended-upgrades"

- name: Disable SSH password login
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication '
    line: 'PasswordAuthentication no'
  notify:
    - "restart sshd"
